---
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Gallery from "@components/gallery.astro";
import ContactSection from "@components/contact-section.astro";
import Hero from "@components/hero.astro";
import Tarifas from "@components/tarifas.astro";
import Layout from "@layouts/Layout.astro";
import Queincluye from "@components/queincluye.astro";
---

<Layout title="">
  <Hero />
  <Container>
    <div class="space-y-24">
      <Features />
      <Queincluye />
      <Gallery />
      <Tarifas />
      <ContactSection />
    </div>
  </Container>
</Layout>
