---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Tarifas from "@components/tarifas.astro";
import Layout from "@layouts/Layout.astro";
import Queincluye from "@components/queincluye.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <div class="space-y-24">
      <Features />
      <Queincluye />
      <Tarifas />
      <Cta />
    </div>
  </Container>
</Layout>
