---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Image } from "astro:assets";
import logo from "../../assets/logo-patriink.png";
---

<Container>
  <header class="fixed top-0 left-0 w-full z-50 bg-transparent">
    <nav class="flex flex-col lg:flex-row justify-between items-center py-4 px-20">
      <a href="/">
        <Image src={logo} alt="Logo Pat.Inked" class="w-44 h-0.44 drop-shadow-lg invert rounded-full" />
      </a>
      <ul class="hidden lg:flex gap-8 text-white text-lg">
        <li><a href="#features" class="hover:text-gray-300">Servicios</a></li>
        <li><a href="#incluye" class="hover:text-gray-300">¿Qué incluye?</a></li>
        <li><a href="#tarifas" class="hover:text-gray-300">Tarifas</a></li>
        <li><a href="#gallery" class="hover:text-gray-300">Galería</a></li>
        <li><a href="#contact" class="hover:text-gray-300">Contacto</a></li>
      </ul>
      <div class="lg:hidden">
        <button class="text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </nav>
  </header>
</Container>
