
---
import { Image } from "astro:assets";
import contactImage from "../assets/intro.jpeg";
---

<div id="contact" class="container mx-auto px-6 py-12">
  <div class="grid md:grid-cols-2 gap-10 items-center">
    <div>
      <h2 class="text-4xl font-bold mb-8">Contacto</h2>
      <Image 
        src={contactImage} 
        alt="Contact image"
        class="rounded-lg w-full"
      />
    </div>
    <div class="space-y-4 text-xl">
      <p>Escribeme: <a href="mailto:patri@gmail.com" class="text-indigo-600 hover:text-indigo-800">patri@gmail.com</a></p>
      <p>Sigueme en instagram: <a href="https://instagram.com/Patri.inktattoo" target="_blank" class="text-indigo-600 hover:text-indigo-800">@Patri.inktattoo</a></p>
    </div>
  </div>
</div>
