---
// @ts-ignore
import { Icon } from "astro-icon/components";
import image1 from "../assets/intro.jpeg";

const features = [
  {
    title: "Tamaño 2x2",
    icon: "bx:ruler",
  },
  {
    title: "Éstilo lineal",
    icon: "bx:pen",
  },
  {
    title: "Temática a elegir",
    icon: "bx:palette",
  },
  {
    title: "Diseños personalizados",
    icon: "bx:paint",
  },
];
---

<div id="features" class="flex flex-col md:flex-row items-center justify-center py-20 gap-12">
    <div class="md:w-1/2">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        ¡Haz que tu boda sea inolvidable con tatuajes personalizados!
      </h2>
      <p class="text-lg mt-4 text-slate-600">
        Dale a tus invitados un recuerdo exclusivo que pueden llevar en la piel. Sorprende a todos con tatuajes originales que harán de tu día algo realmente especial y único.
      </p>
    </div>
    <div class="md:w-1/2">
      <img src={image1} alt="Tatuajes para bodas" class="rounded-lg shadow-md w-80" />
    </div>
  </div>
</div>
<div class="text-center mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Barra libre de tatuajes
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Nuestros tatuajes en estilo lineal son el detalle perfecto para tu boda. Podréis elegir la temática de los diseños y personalizar algunos para hacerlos aun más especiales.
    <span style="font-weight: bold">¡Un detalle único para un día inolvidable!</span>
  </p>
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-4 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div style="background-color: #6A1121;" class="mt-1 rounded-full p-2 w-10 h-10 shrink-0">
          <Icon style="width: 1.5rem; height: 1.5rem;" class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
        </div>
      </div>
    ))
  }
</div>
