---
import { Picture } from "astro:assets";
import heroImage from "assets/heroCover.jpg";
---

<main class="relative w-full h-screen flex items-center justify-center overflow-hidden -mt-20">
  <div class="absolute inset-0 w-full -z-10">
    <Picture
      src={heroImage}
      alt="Fondo de tatuajes para bodas"
      widths={[1600, 1920, 2560]}
      sizes="100vw"
      loading="eager"
      format="avif"
      class="w-full h-full object-cover blur-sm"
    />
  </div>
  <div class="relative text-center text-white px-6 drop-shadow-lg">
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-semibold tracking-tight drop-shadow-2xl uppercase">
      Tatuajes para bodas
    </h1>
    <p class="text-lg mt-4 max-w-2xl mx-auto drop-shadow-2lg">
      Transforma tu boda en un evento único con una barra libre de tatuajes. Cada invitado llevará un recuerdo especial de este día inolvidable. Celebra el amor de manera creativa y divertida.
    </p>
  </div>
</main>