---

---

<h2 class="text-center text-4xl lg:text-5xl font-bold lg:tracking-tight">
    ¿Que incluye?
  </h2>
<div class="grid lg:grid-cols-3 mt-16 gap-16">
  <div
    class="flex flex-col order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md gap-2">
    <div class="text-center">
      <h4 class="mt-3 text-4xl font-bold text-black md:text-4xl">Tatuadora y asistente</h4><p
        class="text-lg font-medium text-black">
        Profesionales expertos para realizar los tatuajes de manera segura y
        eficiente
      </p>
    </div>
  </div>
  <div
    class="flex flex-col order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="mt-3 text-4xl font-bold text-black md:text-4xl">
        Dos horas de barra libre
      </h4><p class="text-lg font-medium text-black">
        Se tatuarán a 15 invitados aproximadamente durante el evento
      </p>
    </div>
  </div>
  <div
    class="flex flex-col order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="mt-3 text-4xl font-bold text-black md:text-4xl">Material para tatuar</h4><p
        class="text-lg font-medium text-black">
        Todo el material necesario: tinta, agujas y elementos de higiene.
      </p>
    </div>
  </div>
  <div
    class="flex flex-col order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="mt-3 text-4xl font-bold text-black md:text-4xl">
        Material espacio de trabajo
      </h4><p class="text-lg font-medium text-black">
        Camilla, iluminación y todo lo necesario para un ambiente profesional
      </p>
    </div>
  </div>
  <div
    class="flex flex-col order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="mt-3 text-4xl font-bold text-black md:text-4xl">
        Diseños personalizados
      </h4><p class="text-lg font-medium text-black">
        6-10 diseños de 2x2 cm con temática a elegir, incluyendo 2-3 diseños
        personalizables
      </p>
    </div>
  </div>
  <div
    class="flex flex-col order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="mt-3 text-4xl font-bold text-black md:text-4xl">
        Asesoramiento completo
      </h4><p class="text-lg font-medium text-black">
        Guía de cuidados del tatuaje durante la fiesta y después del evento
      </p>
    </div>
  </div>
</div>
